.mainApp {
  background-image: url("../assets/landing.jpg");
  background-attachment: fixed;

  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.dark-mode{
  background-attachment: fixed;
  background-color:rgb(32,29,30);
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.day-mode{
  background-color: "#FBFCFF";
}

.cafe-icon{
  position: relative;
  left: 60%;
  height: 50%;
  transition: transform .2s;
}
.cafe-icon:hover{
  transform: scale(1.02);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.thyme {
  font-family: 'Pacifico';
  color: whitesmoke;
  font-size: 100px;
  position: absolute;
  left: 20%;
  top: 35%;
  -webkit-user-select:none
  
}
.signin{
  font-family: Pacifico;
  position: relative;
  justify-content: center;

}
.websiteFont{
  font-family: Pacifico;
}
.slogan{
  font-family: 'Pacifico';
  color: whitesmoke;
  font-size: 30px;
  position: relative;
  left: 10%;
  top: 35%;
  -webkit-user-select:none

}


